/** ENTRY 8: Adding Static Assets FROM: GifController.java
    1.  import external font from Google font : family = Varela + Round
    2.  set the font Varela for the whole body of the web page
    3.  set Sans Serif as contingency font in case intended font failed to load
    4.  set the header background and coloring
    NEXT: ENTRY 9: Adding Static Assets - add this apps.css file as default stylesheet for home.html
    GOTO: home.html for ENTRY 9
    */

/* 8-1: add font from google font
just copy and paste from fonts.google.com*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    /*8-2: use the imported font for the body of the web page*/
    font-family: 'Varela Round', sans-serif
}

h1{
    /*8-4: set the header color and background*/
    padding: 10px;
    background-color: #898ba3;
    color: #fff;
}