<!DOCTYPE html>
<!-- ENTRY 6-->
<!--ENTRY 6: Using Thymeleaf to Serve HTML
    1.  WARNING: Thymeleaf is using XML compliant code while IntelliJ IDEA uses HTML 5 compliant code. The main 
        difference lies in the self closing tags such as in <html lang="en">. In XML compliant code all self closing
        tags must be in the form of <html lang="en"/> or it must be closed using />!
        NOTE: yes we can modify Thymeleaf behavior to use the HTML 5 compliant but for now let's just stick to XML
    2.  we start building HTML code by adding h1, img src, and p tags
    NEXT: ENTRY 7: Using Thymeleaf to Serve HTML
    GOTO: GifController.java to modify using ENTRY 7!
    -->

<html lang="en">
<head>
    <!--6-1: fixing to comply to xml code -->
    <meta charset="UTF-8"/>
    <title>GifLibrary</title>
</head>
<body>
    <!-- 6-2: building the HTML page-->
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi consequuntur debitis dolores, doloribus 
        ducimus earum, fuga in minima mollitia neque nobis optio pariatur perspiciatis rem saepe suscipit totam u
        llam.</p>
    <img src="http://placehold.it/300x300/5fcf80/ffffff" alt="logo"/>

</body>
</html>