<!DOCTYPE html>
<!-- ENTRY 6; ENTRY 9-->
<!--ENTRY 6: Using Thymeleaf to Serve HTML
    1.  WARNING: Thymeleaf is using XML compliant code while IntelliJ IDEA uses HTML 5 compliant code. The main
        difference lies in the self closing tags such as in <html lang="en">. In XML compliant code all self closing
        tags must be in the form of <html lang="en"/> or it must be closed using />!
        NOTE: yes we can modify Thymeleaf behavior to use the HTML 5 compliant but for now let's just stick to XML
    2.  we start building HTML code by adding h1, img src, and p tags
    NEXT: ENTRY 7: Using Thymeleaf to Serve HTML
    GOTO: GifController.java to modify using ENTRY 7!

    ENTRY 9: Adding Static Assets
    1.  WE NEED TO include apps.css as default stylesheet code for home.html but instead of using the traditional <link
        ref/> tag we will use Thymeleaf feature called xml namespace function and define Thymeleaf function to refer
        the directory of the static resources (thus the naming is SPECIFICALLY MANDATORY)
    2.  thus we need to add <html lang /> tag to define the language relation and features of Thymeleaf
    3.  Since we already set the xmlns (xml name space) we can refer the css using what is called link url expression
        which means it does not need to refer full absolute url to the static content but it only refer the static
        directory as root.
    4.  to use it in the <link/> tag we just add th: in front of href to transform it into link url expression and
        inside the href referral address we use @{...} to state the address relative to static directory as root
    5.  As for the compiler-bot.gif image we will ref it from the previous <img src/> tag. We replace the current url
        to link url expression same as step 9-4 above.
    NEXT: ENTRY 10: The Gift of Design - list of pre requisite actions
        1.  Download and substitute (meaning you need to delete the current content first) the content of resources
            directory with all inside the downloaded resources directory
            NOTE: this contains code from materialize for styling which format the web page as intended by material
            design developed by Google
        2.  The comments previous to this point are backup from GitHub thus many steps are not showed since the original
            home.html is already deleted.
            NOTE: This is why I prevent to any commit to Git before the substitution operations
        3.  Create new package under com.mooracle.giflibrary and name it model (this is where we will put POJO models)
        4.  Create new java class inside model package and name it Gif.java
    GOTO: Gif.java for ENTRY 10: Modelling Data with POJOs!
    -->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>giflib | Home</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <a th:href="@{/}" class="brand-logo">gif<span>.</span>lib</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>
                </ul>
                <ul id="mobile-nav" class="side-nav">
                    <li class="active"><a th:href="@{/}">Explore</a></li>
                    <li><a th:href="@{/categories}">Categories</a></li>
                    <li><a th:href="@{/favorites}">Favorites</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="search-bar container">
        <div class="row">
            <div class="col s12">
                <form action="#" method="get">
                    <div class="input-field">
                        <input name="q" type="search" placeholder="Search all gifs..." required="required" autocomplete="off"/>
                        <i class="material-icons">search</i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="gifs container">
        <div class="row">
            <div class="col s12 l4">
                <a>
                    <img th:src="@{/gifs/compiler-bot.gif}" />
                    <a href="#" class="mark favorite"></a>
                </a>
            </div>
            <div class="col s12 l4">
                <a>
                    <img th:src="@{/gifs/compiler-bot.gif}" />
                    <a href="#" class="mark favorite"></a>
                </a>
            </div>
            <div class="col s12 l4">
                <a>
                    <img th:src="@{/gifs/compiler-bot.gif}" />
                    <a href="#" class="mark favorite"></a>
                </a>
            </div>
        </div>
    </div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>